.principal{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}
.principal .content{
    width:100%;
    padding:50px;
    background:#f0f0f5;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.1) ;
    border-radius:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.principal .content .presentation{
width: 100%;
max-width:380px;
}
.principal .content .presentation h1{
margin: 54px 0 32px;
font-size:32px;
}

.principal .content .presentation p{
color: #737380;
font-size:18px;
line-height: 32px;
}
li{
    font-size: 18px;
    list-style-type: square;
    color: #737380;

}
.principal .content .results{
width: 100%;
max-width:450px;
}
