.principal{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}
.principal .content{
    width:100%;
    padding:50px;
    background:#f0f0f5;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.1) ;
    border-radius:8px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    
    
} 
.principal .content section{
width: 100%;
max-width:420px;
margin-bottom:10px;
}
.principal .content section img{
margin: 10px 0 32px;
font-size:32px;
width:100%;
}
.principal .content section h2{
    margin: 32px 0 28px;
    font-size:25px;
}
.principal .content section p{
color: #737380;
font-size:18px;
line-height: 32px;
}
li{
    font-size: 18px;
    list-style-type: none;
    color: #737380;
    line-height:30px;

}
li:nth-child(3){
    color: green;
}
.principal .content form{
width: 100%;
max-width:420px;
}
.principal .content form input{
margin-top: 8px;

}
.principal .content form .radio{
display: flex;
margin-top:30px;
margin-bottom: 25px;

}
.principal .content form .radio input{
    height:25px;
}
.principal .content form .radio label{
    font-weight: bold;
    width:100%;
    color:#333;
    margin:8px 0 0;
}
